body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

/* Main container */
.container {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* Error message */
#errorMessage {
  color: red;
  margin-top: 10px;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label, input, button {
  font-size: 1rem;
}

input {
  padding: 5px;
  border: 1px solid white;
  border-radius: 3px;
}

button {
  padding: 8px;
  border: none;
  color: white;
  background-color: #091d33;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0672e6;
}

/* Table container */
.table-container {
  margin-top: 20px;
  overflow: auto;
  max-height: 400px; /* Controls the max height of the table */
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

/* Table header and cells */
th, td {
  padding: 8px;
  border: 1px solid white;
}

/* Fix first row (header) */
th {
  background-color: #504f4f;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Fix first column */
td:first-child, th:first-child {
  font-weight: bold;
  background-color: #504f4f;
  position: sticky;
  left: 0;
  z-index: 2;
}

/* Alternate row colors */
tbody tr:nth-child(odd) td:not(:first-child) {
  background-color: #505050;
  color: white;
}

tbody tr:nth-child(even) td:not(:first-child) {
  background-color: white;
}
